
html{
    height: 100%;
    background-color: rgb(70, 70, 211);
    font-family: sans-serif;
    color: black;
    background-size: auto;
  }
  
  .list{
    width: 400px;
    display: block;
    margin-left: 400px;
  }

  h1{
    text-align: left;
    color: #fff;
    font-family: 'Times New Roman';
  }
  form{
    background-color: #fff;
    padding: 15px;
  }
  input[type="text"]{
    width: 200px;
    height: 20px;
    border: none;
    font-size: 20px;
    background: #fff;
    color: black;
  }

  
  
  ul{
    list-style: none;
  }
  li{
    border: 1px solid white;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 19px;
    color:white;
  }


  a{
    float: center;
    text-align: center;
    color: #bb1818;
    font-size: 20px;
    cursor: pointer;
  }
  
  @media (max-width: 500px) {
    .list{
      margin: auto;
      width: 100%;
    }
    input[type="text"]{
      width: 80%;
    }
    button{
      width: 10%;
    }
  }